<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<title>Landing Page</title>
</head>
<body>
	<div style='margin-top: 250px'>
		<h1 style='text-align: center;'>Landing Page</h1>
		<a href='/alumni'><button style='margin-left:610px' class='btn btn-lg btn-primary'>Enter website</button></a>
	</div>
</body>
</html>