<% include ./partials/header %>
	<div>
        <form action="/login" method="post">
            <input type="email" name="username" placeholder="Enter E-Mail ID" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button>Login</button>
        </form>
    </div>
<% include ./partials/footer %>
