<% include ./partials/header %>
<div>
            <form action="/register" method="post">
                <input type="email" name="username" placeholder="Enter your E-Mail Id">
                <input type="password" name="password" placeholder="Enter Password">
                <button>Register</button>
            </form>
</div>
<% include ./partials/footer %>
